@font-face {
  font-weight: 700;
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-Bold.woff");
}

@font-face {
  font-weight: 600;
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-Semibold.woff");
}

@font-face {
  font-weight: 400;
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-Regular.woff");
}




@font-face {
  font-weight: 800;
  font-family: "Raleway";
  src: url("../../fonts/Raleway-ExtraBold.woff");
}
@font-face {
  font-weight: 600;
  font-family: "Raleway";
  src: url("../../fonts/Raleway-SemiBold.woff");
}
@font-face {
  font-weight: 500;
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Medium.woff");
}
@font-face {
  font-weight: 300;
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Light.woff");
}