@font-face {
  font-weight: 700;
  font-family: Proxima Nova;
  src: url("../../fonts/proxima-nova-bold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Proxima Nova;
  src: url("../../fonts/proxima-nova-semibold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Proxima Nova;
  src: url("../../fonts/proxima-nova-regular.ttf");
}
