.footer__container {
  background-color: #363636;
  height: 423px;
  padding: 56px 233px 72px 224px;
}


.footer__top-line {
  display: flex;
}
.footer__info-block {
}
.info-block-top {
}
.footer__twitter-container {
  background-color: #5634D1;
  width: 59px;
height: 60px;
padding: 10px 10px 11px;
}
.footer__twitter {

}
.footer__title-container {
}
.saltgroup {
}
.twitter-feed {
}
.info-block-bottom {
}
.footer__message {
}
.footer__link {
}
.footer__when {
}
.footer__3-columns {
  display: flex;
}
.column {
}
.hexagon {
}
.topic {
}
.footer__image {
}
.footer__bottom-line {
}
.footer__line {
}