.form__container {
  background: #232323;
  overflow: hidden;
  width: 1600px;
  height: 707px;
  margin-bottom: 97px;
}

.left-gradient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1041px;
  height: 1038px;
  position: relative;
  bottom: 470px;
  right: 300px;
}
.left-gradient {
  width: 746.861px;
  height: 757.168px;
  transform: rotate(-122.792deg);
  flex-shrink: 0;
  border-radius: 373.431px;
  opacity: 0.37;
  background: linear-gradient(12deg, #f101bf 2.82%, #06f 97.06%);
  filter: blur(125px);
}

.right-gradient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 518px;
  height: 523px;
  position: relative;
  left: 870px;
  bottom: 700px;
}
.right-gradient {
  width: 472.095px;
  height: 478.61px;
  transform: rotate(5.779deg);
  flex-shrink: 0;
  border-radius: 236.048px;
  opacity: 0.3;
  background: linear-gradient(12deg, #f101bf 2.82%, #06f 97.06%);
  filter: blur(125px);
}

.form__title {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  position: relative;
  left: 200px;
  bottom: 1433px;
  width: 361px;
  height: 110px;
}
form {
  width: 640px;
  position: relative;
  left: 791px;
  bottom: 1548px;
}

.form__contact-us {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.746px;
  margin-bottom: 31px;
}
.form__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__label {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 1px;
  padding-left: 4px;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}
.form__label {
  input {
    border-radius: 8px;
    border: 1px solid #292929;
    background: #fff;
    display: flex;
    width: 308px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    color: #3d3d3d;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 7px;
    margin-top: 8px;
    padding-left: 12px;
  }
  textarea {
    color: #3d3d3d;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 7px;
    width: 640px;
    height: 96px;
    resize: none;
    display: flex;
    border-radius: 8px;
    border: 1px solid #d2d6da;
    background: #fff;
    margin-top: 8px;
    padding: 14px 11px;
  }
}
.first-name {
  input {
    margin-bottom: 27px;
  }
  input::placeholder {
    opacity: 1;
    font-weight: 300;
  }
}
.last-name {
  input {
    width: 312px;
  }
}
.form__email {
  input {
    width: 640px;
    margin-bottom: 27px;
    font-weight: 200;
  }
}
.form__textarea {

  margin-bottom: 32px;
}

.form__button {
  display: flex;
  width: 201px;
  height: 53px;
  padding: 4px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #ff8b00;
  margin-left: -3px;
}
