.form__container {
  background: #232323;
  width: 1600px;
  height: 707px;
}
.form__left-gradient-container {
  overflow: hidden;
}
.left-gradient-container {
  position: relative;
  bottom: 300px;
  right: 140px;
  width: 746.861px;
  height: 757.168px;
  transform: rotate(-122.792deg);
  flex-shrink: 0;
  border-radius: 373.431px;
  opacity: 0.37;
  background: linear-gradient(12deg, #f101bf 2.82%, #06f 97.06%);
  filter: blur(125px);
}
.form__title {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 100% */
  position: relative;
  left: 200px;
  bottom: 630px;
}

.form__button {
  display: flex;
  width: 201px;
  height: 53px;
  padding: 4px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #ff8b00;
}
