.header {
  display: flex;
  background: $color-light;
}
.header__container {
  width: 100%;
  background: url(../../assets/image/Bg.svg),
    $color-light 100% / cover no-repeat;
}
.header__wrapper {
  display: flex;
  padding: 32px 224px 0;
}

.auth__container {
  display: flex;
  align-items: center;
  padding-bottom: 8.44rem;
}

.auth__content {
  padding-left: 306px;
  padding-top: 129px;
  margin-right: 220px;
}

.auth__text {
  color: $color-light;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 2.75rem;
}

.auth__twit-image {
  padding-top: 145px;
  margin-right: 18.56rem;
}

.twit-image {
  display: inline-block;
  background: url(../assets/image/Twitter.svg);
  width: 151px;
  height: 124px;
}

.auth__pagination {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 124px 2px 11px;
}

.pag {
  display: block;
  background: url(../../assets/icons/pagination.svg);
  width: 19px;
  height: 22px;
  color: $color-light;
}

.auth__find {
  width: 7.25rem;
  margin: 0 auto;
  padding-bottom: 50px;
}

.find-text {
  color: $color-light;
  font-family: Proxima Nova;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 1.19rem;
}

.find-icon {
  display: block;
  background: url(../../assets/icons/Union.svg);
  width: 62px;
  height: 71px;
  margin: auto;
}
