.logo {
  display: block;
  background: url(../../assets/image/Logo.svg),
    lightgray 0px 0px / 100% 100% no-repeat;
  width: 78px;
  height: 100px;
  margin-right: 504px;
}
.header__navigation {
  padding-top: 48px;
}
.navigation {
  display: flex;
}
.navigation li {
  border-bottom: 3px solid transparent;
}
.navigation li:hover {
  border-bottom: 3px solid $color-fill;
}
li:not(:last-child) {
  margin-right: 26px;
}
.nav-item {
  display: inline-block;
  padding: 0px 1px 5px;
  transition: all 0.7s ease;
  text-transform: uppercase;
  color: $color-light;
  font-family: Proxima Nova;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}