.product-spotlight__container {
  padding: 7.125rem 0 6.0625rem 1.4375rem;
  max-width: 82.875rem;
  padding: 7.125rem 0 6.0625rem 1.4375rem;
  max-width: 82.875rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .product-spotlight__container {
    padding-right: 1.4375rem;
  }
}
@media (max-width: 1250px) {
  .product-spotlight__container {
    padding-top: 6.25rem;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .product-spotlight__container {
    padding: 6.25rem 0 6.0625rem;
    max-width: 19.9375rem;
    display: block;
  }
}
.product-spotlight__content {
  padding: 5.9375rem 0 0;
}
@media (max-width: 1250px) {
  .product-spotlight__content {
    padding: 0;
  }
}
.product-spotlight__title {
  color: #7050e5;
  margin-bottom: 0.4375rem;
}
@media (max-width: 768px) {
  .product-spotlight__title {
    font-size: 1.5rem;
    line-height: 133.333%;
  }
}
@media (max-width: 375px) {
  .product-spotlight__title {
    padding-top: 0.0625rem;
    margin-bottom: 1rem;
  }
}
.product-spotlight__text {
  color: #878787;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: -0.01875rem;
  margin-bottom: 1.875rem;
}
.product-spotlight__mobile {
  display: none;
}
@media (max-width: 375px) {
  .product-spotlight__mobile {
    display: block;
  }
}
@media (max-width: 375px) {
  .product-spotlight__desktop {
    display: none;
  }
}
.product-spotlight__video-tablet {
  display: none;
  max-width: 45.25rem;
  height: 27.75rem;
  background-image: url(../../assets/image/modal-video.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1250px) {
  .product-spotlight__video-tablet {
    display: block;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .product-spotlight__video-tablet {
    max-width: 19.9375rem;
    max-height: 12.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.0625rem;
  }
}
.product-spotlight__button {
  display: flex;
  width: 10.6875rem;
  height: 2.75rem;
  justify-content: center;
  background: #ff8b00;
  border-radius: 0.25rem;
}
@media (max-width: 1250px) {
  .product-spotlight__button {
    margin: 0 auto;
  }
}
.product-spotlight__video-desktop {
  max-width: 45.25rem;
  height: 27.75rem;
  background-image: url(../../assets/image/modal-video.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1250px) {
  .product-spotlight__video-desktop {
    display: none;
  }
}
.product-spotlight__play {
  padding: 10.8125rem 20.1875rem 1.625rem 20.25rem;
}
@media (max-width: 768px) {
  .product-spotlight__play {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.play {
  display: block;
  background: url(../../assets/icons/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 4.8125rem;
  height: 4.8125rem;
}
@media (max-width: 768px) {
  .play {
    max-width: 2.125rem;
    max-height: 2.125rem;
    background-image: url(../../assets/icons/play-375.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.feature-video {
  font-family: Raleway;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: 0 0 0.5rem 19.0625rem;
}
@media (max-width: 768px) {
  .feature-video {
    font-size: 0.625rem;
    line-height: 140%;
    padding: 0;
    margin-bottom: 0.125rem;
  }
}
.token {
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  text-transform: uppercase;
  padding-left: 9.375rem;
}
@media (max-width: 768px) {
  .token {
    font-size: 0.8125rem;
    line-height: 169.231%;
    padding: 0;
  }
}
