.services__container {
  background-color: $color-services;
  padding: 120px 297px 154px;
}
.corner {
  width: 46px;
  height: 46px;
  display: block;
  margin-left: auto;
  background: url(../../assets/image/corner.svg);
}

.services__title {
  color: $color-brand;
  font-family: Proxima Nova;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  text-transform: capitalize;
  width: 337px;
  position: relative;
  left: 604px;
  top: -20px;
}

.services__grid {
  display: grid;
  grid-template: repeat(2, 388px) / repeat(3, 1fr);
  padding-top: 47px;
  padding-left: 7px;
}
.grid-item {
  width: 281px;
}


.icon-item-1 {
  padding-left: 39px;
  padding-top: 3px;
}
.item-1 {
  display: block;
  background: url(../../assets/icons/services-1.svg);
  width: 142px;
  height: 146px;
}
.item-title-1 {
  padding: 27px 0 8px;
}


.icon-item-2 {
  padding-left: 78px;
  padding-top: 3px;
}
.item-2 {
  display: block;
  background: url(../../assets/icons/services-2.svg);
  width: 160px;
  height: 150px;
}
.item-title-2 {
  padding: 27px 38px 8px;
}
.item-text-2 {
  padding-left: 38px;
}



.grid-item-3 {
  width: 326px;
}
.icon-item-3 {
  padding-left: 103px;
}
.item-3 {
  display: block;
  background: url(../../assets/icons/services-3.svg);
  width: 150px;
  height: 150px;
}
.item-title-3 {
  padding: 27px 0 8px 46px;
}
.item-text-3 {
  padding-left: 46px;
}


.icon-item-4 {
  padding-left: 58px;
  padding-top: 3px;
}
.item-4 {
  display: block;
  background: url(../../assets/icons/services-4.svg);
  width: 132px;
  height: 139px;
}
.item-title-4 {
  padding: 25px 0 6px 2px;
}
.item-text-4 {
  padding-left: 2px;
}


.icon-item-5 {
  padding-left: 75px;
  padding-top: 12px;
}
.item-5 {
  display: block;
  background: url(../../assets/icons/services-5.svg);
  width: 191px;
  height: 127px;
}
.item-title-5 {
  padding: 28px 0 8px 38px;
}
.item-text-5 {
  padding-left: 38px;
}


.grid-item-6 {
  width: 308px;
}
.icon-item-6 {
  padding-left: 75px;
  padding-top: 31px;
}
.item-6 {
  display: block;
  background: url(../../assets/icons/services-6.svg);
  width: 210px;
  height: 108px;
}
.item-title-6 {
  padding: 28px 0 8px 46px;
}
.item-text-6 {
  padding-left: 46px;
}



.item-title {
  color: #7050e5;
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.item-text {
  color: #878787;
  font-family: Proxima Nova;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 126.667% */
  letter-spacing: -0.12px;
}
