.statistics__container {
  padding: 8.3125rem 18.8125rem 8.1875rem 21.625rem;
}
.statistics__columns {
  display: flex;
  flex-direction: row;
  gap: 5.75rem;
}
.value {
  color: $color-brand;
  font-family: Proxima Nova;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.25rem;
  margin-bottom: 0.875rem;
}
.description {
  color: $color-brand;
  text-align: center;
  font-family: Proxima Nova;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}
.column-theft {
  width: 15.9375rem;
}
.value-theft {
  padding-left: 0.9375rem;
}
.column-transact {
  width: 13.3125rem;
}
.column-fraud {
  width: 15.4375rem;
}
.value-fraud {
  padding-left: 2.25rem;
}
