* {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  list-style-type: none;
  padding-block: 0;
  padding-inline: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  color: $color-light;
  font-family: Proxima Nova, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  color: $color-light;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4375rem;
  padding-bottom: 0.75rem;
}
h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4375rem;
}
